doctype html
html(lang="en", data-framework="angularjs")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width = device-width, minimal-ui, initial-scale = 1, user-scalable = no")
		title Webtrekk Demo Joehannes
		style [ng-cloak] { display: none; }
		base(href="/")
	body(ng-cloak, ng-app="webtrekk")
		main(ng-view)
		script(src=`${htmlWebpackPlugin.options.files.js[0]}`)
